In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('titanic.csv', index_col = False )

In [23]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [37]:
df_n = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis= 'columns')

In [39]:
df_n

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [31]:
# Converting Sex column into numerical values 
# LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [41]:
input = df_n.drop(['Survived'], axis = 'columns')
target = df_n['Survived']

In [43]:
input

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [45]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [58]:
le_sex = LabelEncoder()

In [65]:
input['sex_column_1'] = le_sex.fit_transform(input['Sex'])

In [67]:
input

     Pclass     Sex   Age     Fare  sex_column_1
0         3    male  22.0   7.2500             1
1         1  female  38.0  71.2833             0
2         3  female  26.0   7.9250             0
3         1  female  35.0  53.1000             0
4         3    male  35.0   8.0500             1
..      ...     ...   ...      ...           ...
886       2    male  27.0  13.0000             1
887       1  female  19.0  30.0000             0
888       3  female   NaN  23.4500             0
889       1    male  26.0  30.0000             1
890       3    male  32.0   7.7500             1

[891 rows x 5 columns]

In [72]:
input_n = input.drop(['Sex'], axis= 'columns')

In [74]:
input_n

     Pclass   Age     Fare  sex_column_1
0         3  22.0   7.2500             1
1         1  38.0  71.2833             0
2         3  26.0   7.9250             0
3         1  35.0  53.1000             0
4         3  35.0   8.0500             1
..      ...   ...      ...           ...
886       2  27.0  13.0000             1
887       1  19.0  30.0000             0
888       3   NaN  23.4500             0
889       1  26.0  30.0000             1
890       3  32.0   7.7500             1

[891 rows x 4 columns]

In [78]:
from sklearn.model_selection import train_test_split

In [86]:
x_train, x_test, y_train, y_test = train_test_split (input_n, target, test_size = 0.2, random_state = 42)

In [88]:
x_train

     Pclass   Age      Fare  sex_column_1
331       1  45.5   28.5000             1
733       2  23.0   13.0000             1
382       3  32.0    7.9250             1
704       3  26.0    7.8542             1
813       3   6.0   31.2750             0
..      ...   ...       ...           ...
106       3  21.0    7.6500             0
270       1   NaN   31.0000             1
860       3  41.0   14.1083             1
435       1  14.0  120.0000             0
102       1  21.0   77.2875             1

[712 rows x 4 columns]

In [90]:
y_train

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [92]:
x_test

     Pclass   Age     Fare  sex_column_1
709       3   NaN  15.2458             1
439       2  31.0  10.5000             1
840       3  20.0   7.9250             1
720       2   6.0  33.0000             0
39        3  14.0  11.2417             0
..      ...   ...      ...           ...
433       3  17.0   7.1250             1
773       3   NaN   7.2250             1
25        3  38.0  31.3875             0
84        2  17.0  10.5000             0
10        3   4.0  16.7000             0

[179 rows x 4 columns]

In [94]:
y_test

709    1
439    0
840    0
720    1
39     1
      ..
433    0
773    0
25     1
84     1
10     1
Name: Survived, Length: 179, dtype: int64

In [111]:
from sklearn import tree

In [114]:
reg = tree.DecisionTreeClassifier()

In [116]:
reg.fit(x_train, y_train)

DecisionTreeClassifier()

In [122]:
y_predict = reg.predict(x_test)

In [127]:
reg.score(x_test, y_test)

0.770949720670391